<div class="h-20 w-full bg-third mt-1">
    <div class="flex flex-row items-center justify-between">
        <img src="https://vanexpressnj.com/wp-content/uploads/2024/03/vanexpress-profile.jpg" class="w-20 h-20">
        <div class="flex flex-row text-gray-500 px-8 font-bold tracking-wider items-start justify-start h-20">
            <a href="/dashboard">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Dashboard</p>
            </a>

            <a href="/listings">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Listings</p>
            </a>
            <a href="/shippings">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Shippings</p>
            </a>
            <a href="/filtering">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Filtering</p>
            </a>

            <!--
            <a href="/skiptracing">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Skip Tracing</p>
            </a>
-->
            <a href="/scrapper">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-primary mx-2 w-36 text-center rounded-b-xl border-b text-white">
                    Scrapper</p>
            </a>
            <a href="/filtering-tx">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-white mx-2 w-36 text-center rounded-b-xl border-b text-primary border-4 border-t-0 border-primary">
                    Filtering TX</p>
            </a>
            <a href="/filtering-tx2">
                <p
                    class="px-4 hover:cursor-pointer hover:bg-opacity-80 py-2 bg-white mx-2 w-36 text-center rounded-b-xl border-b text-primary border-4 border-t-0 border-primary">
                    Filtering TX 2</p>
            </a>
        </div>
        <div
            class="flex flex-row h-20 w-20 bg-primary   font-bold text-xl items-center justify-center hover:cursor-pointer hover:bg-opacity-80">
            <img src="https://www.svgrepo.com/show/21304/logout.svg" class="p-8">
        </div>
    </div>

</div>

<div class="h-full w-1 bg-primary fixed top-0 left-0"></div>
<div class="h-full w-1 bg-primary fixed top-0 right-0"></div>

<div class="h-1 w-full bg-primary fixed bottom-0 left-0"></div>
<div class="h-1 w-full bg-primary fixed top-0 left-0"></div>