<div class="h-20 w-full bg-secondary">
    <div class="flex flex-row items-center justify-between">
        <img src="https://vanexpressnj.com/wp-content/uploads/2024/03/vanexpress-profile.jpg" class="w-20 h-20">
        <div class="flex flex-row text-primary px-8 font-semibold tracking-wider text-lg">
            <a href="/dashboard">
                <p class="px-4 hover:cursor-pointer hover:underline">Dashboard</p>
            </a>
            <a href="/listings">
                <p class="px-4 hover:cursor-pointer hover:underline">Listings</p>
            </a>
            <a href="/filtering">
                <p class="px-4 hover:cursor-pointer hover:underline">Filtering</p>
            </a>
            <a href="/skiptracing">
                <p class="px-4 hover:cursor-pointer hover:underline">Skip Tracing</p>
            </a>
            <a href="/shipping">
                <p class="px-4 hover:cursor-pointer hover:underline">Shipping</p>
            </a>
            <a href="/scrapper">
                <p class="px-4 hover:cursor-pointer hover:underline">Scrapper</p>
            </a>
        </div>
        <div
            class="flex flex-row h-20 w-20 bg-primary   font-bold text-xl items-center justify-center hover:cursor-pointer hover:bg-opacity-80">
            <img src="https://www.svgrepo.com/show/21304/logout.svg" class="p-8">
        </div>
    </div>

</div>