<!-- src/public/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link href="output.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <!----------------- START OF MENU --------------------->
    <%- include('partials/menu') %>

        <!----------------- END OF MENU ----------------------->

        <!----------------- START OF CONTENT------------------->
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Trigger POST Request</title>
        </head>

        <body>
            <h1>Send POST Request</h1>
            <form action="/trigger" method="POST">
                <label for="data">Data:</label>
                <input type="text" id="data" name="data" required>
                <button type="submit">Send</button>
            </form>
        </body>

        </html>
        <!----------------- END OF CONTENT -------------------->
</body>

</html>